<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title> 
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Quality of Wine</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_api')}}"method="post">
      <!-- <div>
      <label>Fixed Acidity</label> -->
    	<input type="text" name="fixed_acidity" placeholder="Tartaric Acid (g/dm3)" required="required" />
      <!-- </div> -->

      <!-- <label>Fixed Acidity</label> -->
      <input type="text" name="volatile_acidity" placeholder="Acetic Acid (g/dm3)" required="required" />
		  <input type="text" name="citric_acid" placeholder="Citric Acid (g/dm3)" required="required" />
    	<input type="text" name="residual_sugar" placeholder="Residual Sugar (g/dm3)" required="required" />
      <input type="text" name="chlorides" placeholder="Sodium Chlorides (g/dm3)" required="required" />
		  <input type="text" name="free_sulfur_dioxide" placeholder="SO2 free form" required="required" />
      <input type="text" name="density" placeholder="Wine density" required="required" />
      <input type="text" name="ph" placeholder="pH" required="required" />
		  <input type="text" name="sulphates" placeholder="Potassium Sulphate (g/dm3)" required="required" />
    	<input type="text" name="alcohol" placeholder="%v alcohol" required="required" />
      <input type="text" name="bound_sulfur_dioxide" placeholder="SO2 bound form" required="required" />

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <!-- <br> -->
  {{ prediction_text }}

 </div>

</body>
</html>
